*{
    font-family: "Courier New", serif;
}
body{
    background-image: url(../images/stage3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;

}
.margin{
    text-align: center;
    color: white;
    font-size: 150%;
    background: rgba(17, 23, 87, .85);
}
.menu{
    margin-bottom: 50px;
    padding-top: 0;
    list-style-type: none;
    background-color: #991817;
    text-align: center;
    font-size: 130%;
}

.menubar{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: #991817;
    margin: auto;
}
a.menulink{
    position: relative;
    display: inline-block;
    margin: 0;
    padding-left: 0;
    font-size: 130%;
}

.menulist{
    display: inline;
    margin: auto;
    padding: 160px 5%;
    position: relative;

}
.dropbtn{
    background-color: #991817;
    color: white;
    padding: 0 1em;
    border: none;
    cursor: pointer;
    margin: 0;
    font-size: 130%;
}

.dropdown{
    position: relative;
    display: inline-block;
    margin: 0;
    padding-left: 0;
    font-size: 130%;
}


.dropdown-content{
    margin: auto;
    display: block;
    width: 100%;
}

.dropdown-content a{
    background-color: #991817;
    color: black;
    padding: 12px 0;
    text-decoration: none;
    display: inline-block;
    width: 100%;

}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    font-size: 130%;
}
.dropdown:hover .dropdown-content{
    display: block;
}

a{
    padding: 0;
    text-decoration: none;
    font-size: 130%;
}

/* 
 * Pseudo-selector have to be in a particular order
 * https://css-tricks.com/remember-selectors-with-love-and-hate/
 */
a:link{
    color: white;
    font-size: 75%;
}
a:visited{
    color: white;
}
a:hover{
    color: blue;
    font-size: 75%;
}

div.about{
    background: rgba(17, 23, 87, .85);
    color: white;
    font-size: 150%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
