*{
    font-family: "Courier New", serif;
    color: white;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/repub_debate_text.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
    display: block;
}
div.containerMeta{
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, .70);
}
div.candidates{
    flex: 1 100%;
}
div.moderators{
    flex: 1 100%
}
div.container{
    background: rgba(0, 0, 0, .70);
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: calc(100vh + 50px);
}
div.debate{
    border-right: 2px solid white;
    padding-right: 1em;
    overflow-y: auto;
    flex: 1 100%;
}
div.debateMenu{
    padding-left: 1em;
    flex: 1 200px;
}
h2{
    text-align: center;
    background: rgba(0, 0, 0, .70);
}
h3{
    text-align: left;
    margin: 0;
}
div.candidates_list div.moderators_list{
    background: rgba(0, 0, 0, .70);
    text-align: center;
}
ul{
    list-style-type: none;
}
a:link{
    color: white;
    font-size: 100%;
    text-decoration: none;
}
a:visited{
    color: white;
}
a:hover{
    color: blue;
    font-size: 100%;
}