body{background-image: url(stage3.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-position:center;
background-attachment:fixed;}

*{
    font-family: "Palatino Linotype";
}
.margin{
    text-align: left;
    color: white; 
    font-size: 300%;
    background: rgba(17,23,87,.85);
padding-bottom: 30px;    
}
.menu{
    margin: 0;
    padding-top: 0;
    list-style-type: none;
    background-color: #991817;
    text-align: center;
}

.menubar{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    background-color: #991817;
    margin: auto;
}

.menulist{
    display: inline;
    margin: auto;
    padding: 160px 5%;
    position: relative;
    
}
.dropbtn {background-color: #991817;
color: white;
font-size: 200%;
padding:16px;
border:none;
cursor:pointer;
margin:0;}

.dropdown {
    position: relative;
    display: inline-block;
    margin:0;
    padding-left:10%
}


.dropdown-content{position:relative;
display: inline-block;}

.dropdown-content a {
background-color: #991817;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size:75%;
}
.dropdown:hover .dropdown-content {
    display: block;}
    
a:link{
    color: white;
    text-decoration: none;
    font-size: 200%;
}
a:visited{
    color: white;
    text-decoration: none;
}
